@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282f38;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
